useDynLib(funMoDisco, .registration = TRUE)

import(Rcpp)
import(progress)
import(dplyr)
import(ggplot2)
import(parallel)
import(shiny)
import(methods)

importFrom(shinybusy, remove_modal_spinner, show_modal_spinner)
importFrom(grDevices, dev.off, pdf, rainbow, rgb)
importFrom(graphics, abline, axis, barplot, boxplot, curve, hist, layout, legend, lines, matplot, mtext, par, plot.new, points, rect, segments, text, title)
importFrom(stats, as.dendrogram, as.dist, density, na.omit, quantile, rbeta, rnorm, runif, sd, setNames, start, var)
importFrom(utils, modifyList, tail)
importFrom(dendextend, cutree, labels_cex, get_nodes_xy, partition_leaves, rect.dendrogram)
importFrom(fda, create.bspline.basis, eval.fd, fd, smooth.basis)
importFrom(fastcluster, hclust)
importFrom(ggtext, element_markdown)
importFrom(purrr, is_empty)
importFrom(scales, alpha)
importFrom(shinyWidgets, useSweetAlert)
importFrom(shinyjs, disable, enable, html, useShinyjs)
importFrom(stringr, str_extract)
importFrom(zoo, na.trim, rollapply)
importFrom(class, knn)
importFrom(combinat, combn)
importFrom(data.table,as.data.table,setnames)

export('discoverMotifs') 
export('generateCurves') 
export('motifSimulationApp') 
export('motifSimulationBuilder') 
export('plot_motifs') 
exportClasses('motifSimulation') 
exportMethods('generateCurves') 
exportMethods('plot_motifs') 
exportMethods("to_motifDiscovery") 

